:root {
  --bleeding: 0.5cm;
  --margin: 1cm;
}

img {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.food_table {
  width: 100%;
  margin-bottom: 1em;
}

.id_nr {
  width: 1.5em;
  vertical-align: top;
}


.ingredients {
  font-style: italic; 
  color: white;
  padding-left: 0.5em;
}

.food_id {
  color: white;
}

.food_name_cs {
  float: left;
}

.food_price {
  float: right;
}


@page {
  size: A4;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
}

.page {
  color: #fcdc17;
  display: inline-block;
  position: relative;
  /* height: 297mm; */
  width: 210mm;
  font-size: 12pt;
  margin: 2em auto;
  padding: calc(var(--bleeding) + var(--margin));
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background: black;
}

@media screen {
  .page::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
  }
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }
}
