{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A4 Paper</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body style="--bleeding: 0.5cm;--margin: 1cm;">
  <div class="page">
  <table>
  <tr>
    <th>Vitejte v restauraci U Zlaté Kachny</th>
    <th><img src="{% static 'logo_new_mini.png' %}" alt="U Zlaté Kachny"></th>
    <th>Facebook</th>
  </tr>
  </table>
  <div class='food_list'>
    {% for food in object_list %}
      <p>
      <div class='food_first_line'>
        <div class='food_id'>{{ food.pk }}.</div> 
        <div class='food_name_cs'> {{ food.name_cs }}</div>
        <div class='food_price'>{{ food.price }}</div>
      </div> <!-- food_first_line -->
      <div class='food_translations'>
      {{ food.name_en }} / {{ food.name_de }} / {{ food.name_ru }}
      </div> <!-- food_translations -->
      {% if food.ingredients_cs %}
        <div class='ingredients'>
        {{ food.ingredients_cs }}</br>
        {{ food.ingredients_en }}</br>
        {{ food.ingredients_de }}</br>
        {{ food.ingredients_ru }}
        </div> <!-- ingredients -->
      {% endif %}
      </p>
    {% endfor %}
  </div><!-- food_list -->
  </div><!-- page -->
</body>

</html>
